body
{
    background-color: silver;
}
h1
{
    font-size: x-large;
    color: indianred;
}
img
{
    border: solid black;
    padding-left: solid red;
    height: fit-content;
    width: fit-content;
}
h1:hover,h2:hover,body:hover
{
    color: green;
}