:root
{
    --WalmartDarkBlue: RGB(4,31,65);
    --WalmartYellow: RGB(255,194,32);
    --WalmartLightBlue: RGB(0,113,206);
}
.center
{
    text-align: center;
}
.centerimg 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body
{
    background-color: var(--WalmartDarkBlue)
}
h1,h2,h3
{
    text-align: center;
    color: var(--WalmartYellow)
}
nav
{
    border: 3px var(--WalmartYellow) solid;
}
a
{
    color: var(--WalmartYellow);
    border: var(--WalmartYellow);
    font-size: 28px;
}
div
{
    border: var(--WalmartYellow);
    color: white;
}
img
{
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
}
p
{
    color: white;
    font-size: x-large;
}
li
{
    color: var(--WalmartYellow);
    font-size: x-large;
}
.myUL 
{
    display: inline-block;
    text-align: left;
}
.grid
{
    display: grid;
    place-items: center;
}
p
{
    text-align: center;
}