body
{
    background-color: cyan;
}
thead
{
    background-color:gray;
}
.cheader
{
    color: purple;
    border: 5px solid black;
}
#pagename
{
    color:crimson;
}
th , td
{
    border: 2px solid black;
}
a
{
    font-size: 12pt;
}
table a
{
    font-size: 6pt;
}
th:hover
{
    color: yellowgreen;
}
:visited
{
    color: coral;
}
body > a, tr > td, p >a
{
    font-family: Impact;
}
p
{
    font-size: 15pt;
}
p::first-letter
{
    font-size: 20pt;
}