:root
{
    --UNC-Blue: #013c65;
    --UNC-Gold: #f6b000;
    --UNC-Grey: #8a8a8d;
}
body
{
    background-color: var(--UNC-Gray);
}
*
{
    color: var(--UNC-Blue);
    text-align: center;
    font-size: 5 vw;
}